body{
    background-color: rgb(253, 253, 255);
}

body {
  background: white;
  color: black;
}
.dark body {
  background: black;
  color: white;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}